/* /// ---------------------------------------------------- /// */
@media only screen and (max-width: 10px) {

#nav {
    border-radius: 50% 50% 0 0;
}
#nav.on {
        width: 100vw;
        height: 100vw;
        bottom: 0;
        padding: 5rem 3rem 25rem 3rem;
    }
}

#header{
    grid-template-columns: min-content 1fr;
}

@media only screen and (max-width: 992px) {
   
    #header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
        "frase"
        "lista"
        "img"
        "btn";
    }

#header ul {
    text-align: center;
}

    #header a{
        margin: 3rem auto 0;
    }
}