@charset "utf-8";

main {
    padding: 0;
}

#header{
    padding: 3rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "img frase"
    "img lista"
    "img btn";
    grid-template-rows: repeat(3, min-content);
    place-content: center center;
}

#header img {
    grid-area: img;
    place-self: center center;
    transition: transform 5s;
}

#header p.txt-random {
    grid-area: frase;
    align-self: center;
}

#header ul {
    grid-area: lista;
    padding: 0 0 2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
}

#header a.atras-btn {
    grid-area: btn;
}


.registro {
    position: fixed;
    width: 2rem;
    height: 2rem;
    mix-blend-mode: darken;
}

.registro:nth-of-type(1){
    top: 20px;
    left: 50%;
}

.registro:nth-of-type(2){
    right: 20px;
    top: 50%;
}

.registro:nth-of-type(3){
    bottom: 20px;
    left: 50%;
    visibility: hidden;
    display: none;
}

.registro:nth-of-type(4){
    top: 50%;
    left: 20px;
}

.reloj, .fecha, .fecha-num{
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
}

.fecha-num {
    top: 1rem;
    left: 1rem;
}

.reloj {
    top: 1rem;
    right: 1rem;
}

.fecha {
    bottom: 1rem;
    right: 1rem;
}