@charset "utf-8";
/* CSS ordenado en orden jerárquico de mayor a menor */
/*--///////////////// SEPARADOR ///////////////////--*/
/*--///////////////// /SEPARADOR ///////////////////--*/



/*--///////////////// FUENTES ///////////////////--
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
--///////////////// /FUENTES ///////////////////--*/

:root {
    font-size: 1.5rem;
    --negro: rgb(17, 17, 17);
    --roto: rgb(194, 194, 194);
    --ruido-blanco: url(../imgs/ruido-blanco-17.gif);
    --ruido-negro: url(../imgs/ruido-negro-7.gif);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

/* *:focus {
    outline: solid 10px #9faeff;
    animation: hue 1s infinite alternate;
    filter: saturate(1);
} */


html,
body {
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

main {
    z-index: 1;
    padding-bottom: 60vh;
}

section {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
}


::selection {
    background-color: #9faeff;
    backdrop-filter: blur(30px);
}
    
button {
    padding: 7px 15px;
    cursor: pointer;
    background: none;
    border: 2px solid var(--negro);
    border-radius: 50em;
    font-size: .8rem;
    font-family: 'Roboto Mono', monospace;
}

button:active{
    background-color:var(--negro);
    color: var(--roto);
} 

[class*="btn"]{
    cursor: pointer;
    border: 2px solid var(--negro);
    border-radius: 50em;
    color: var(--negro);
    text-decoration: none;
    font-size: .8rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 7px 15px;
    width: fit-content;
    height: fit-content;
}


svg {
    fill: none;
    stroke:var(--negro);
    stroke-linecap: round;
    stroke-linejoin:round;
    stroke-width: 2px;
    overflow: visible;
}

[class*="btn"] svg {
    margin-right: 10px;
    height: 1rem;
    max-height: 30px;
    max-width: 30px;
}

[class*="btn"]:active, [class*="btn"]:focus{
    background-color:var(--negro);
    color: var(--roto);
}

[class*="btn"]:active line, [class*="btn"]:focus line{
    stroke: var(--roto);
}

li, li a{
    list-style: none;
}

li a:not(#nav .contacto a) {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

@keyframes hue {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(-180deg);
    }
}

@keyframes anti-hue {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(180deg);
    }
}

@keyframes arriba {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        filter: translateY(0px);
    }
}

@keyframes derecha {
    0% {
        transform: translateX(0px) rotate(90deg);
    }
    50% {
        transform: translateX(7px) rotate(90deg);
    }
    100% {
        filter: translateX(0px) rotate(90deg);
    }
}

@keyframes x-loop {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes svg-draw {
    0%, 100%{
        stroke-dashoffset: 1000;
        stroke-dasharray: 1000;
    }
    25%, 50% {
        stroke-dashoffset: 0;
    }
}

hr {
    margin: 10vh 0;
    border-color: var(--roto);
    width: 500px;
}

/* -------  RRSS UL  ------- */
ul.rrss {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

ul.rrss li {
    transition: all .2s ease;
    flex: 1;
    align-self: center;
}

ul.rrss li a:hover, ul.rrss li a:focus{
    transform: scale(1.3) rotate(-5deg) translateY(-5px) !important;
    filter: brightness(1.3);
    transition: transform .2s;
}

ul.rrss li a {
    display: block;
    color: var(--negro);
    text-decoration: none;
    font-size: 2rem;
}

ul.rrss li a img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    object-fit: contain;
}

/* -------  /RRSS UL  ------- */

/* //----------------//NAVEGACIÓN//----------------// */
/* EL SOL*/

#nav {
    z-index: 5;
    position: fixed;
    left: 50%;  bottom: -60vh;
    width: 0rem;    height: 0rem;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 165px 1fr;
    grid-template-rows: 50vh auto;
    grid-template-areas:
    "contacto . nav"
    "contacto . nav";
    transition: all 0.3s ease;
    opacity: 0.94;
    overflow: hidden;
}

#nav-btn {
    position: fixed;
    left: 50%;
    bottom: -2.4rem;
    transform: translate(-50%, 0);
    z-index: 99;
    background: none;
    border: none;
    transition: 0.2s ease;
    mix-blend-mode: difference;
}

#nav-btn:focus{
    outline: none;
}

#solete {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    transition: 0.2s ease;
}

#nav-btn.activo {
    transform: translate(-50%, -4rem);
    mix-blend-mode: unset;
    filter: invert(1);
}

/* PARA CUANDO LLEGA AL FOOTER */
#nav-btn.escondido {
    transform: translate(-50%, 4rem);
}


#nav.on {
    height: 80vw;
    width: 80vw;
    padding: 5rem 0;
    padding-bottom: 33%;
}

#nav>ul {
    visibility: hidden;
    transition: all .2s ease, visibility .1s;
    transition-delay: all 0, visibility .2s;
    position: relative;
}

#nav.on>ul {
    visibility: visible;
    transition: all .2s ease, visibility .1s;
    transition-delay: all 0, visibility .2s;
}

#nav ul li {
    height: 2.7rem;
}

#nav a {
    text-decoration: none;
    color: var(--negro);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: letter-spacing .2s, transform .2s;
}

#nav a:focus, #nav a:hover {
    letter-spacing: 2px;
    text-decoration: underline;
    transition: letter-spacing .2s, transform .2s;
}

#nav ul.anchor {
    grid-area: nav;
    justify-self: stretch;
    align-self: end;
}

#nav ul.contacto {
    grid-area: contacto;
    justify-self: stretch;
    align-self: end;
    text-align: right;
}

#nav ul.rrss {
    justify-content: flex-end;
    width: 70%;
    margin-left: auto;
}

#nav ul.rrss li {
    margin: 0 10px;
}

#nav .tlf{
    transform: translate(-60px, -72px) rotate(12deg) scale(1.3);
}

#nav li.tlf span{
    margin: 0 .2rem;
}

#nav .mail{
    transform: translate(0px, -25px) rotate(6deg);
}

#nav::after {
    pointer-events: none;
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../imgs/reticulaxmin.svg), rgb(225, 174, 65);
    background-size: 100px, cover;
    background-repeat: repeat, no-repeat;
    color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: color-burn;
    animation: hue 15s infinite alternate;
}

/* //----------------//FIN DE LA NAVEGACIÓN//----------------// */


/*--///////////////// HEADER ///////////////////--*/
#header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed; 
    z-index: 2;
}

/*--///////////////// /HEADER ///////////////////--*/


/*--///////////////// FOOTER ///////////////////--*/

#footer {
    padding: 3vw;
    width: 100%;
    height: 60vh;
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: minmax(auto, 1fr) 15rem;
    grid-template-areas:
        "volver-btn . buscame"
        "derechos gif rrss";
    z-index: 0;
    overflow: hidden;
    resize: none;
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
}

#footer .volver {
    grid-area: volver-btn;
}

#footer .volver-btn:active svg,
#footer .volver-btn:focus svg,
#footer .volver-btn:hover svg {
    animation: arriba 1.5s linear infinite alternate;
}

#footer .txt-contacto {
    grid-area: buscame;
    text-align: right;
}


#footer .gif {
    grid-area: gif;
    place-self: center;
    width: 10rem;
}

#footer .derechos {
    grid-area: derechos;
    align-self: end;
}

#footer .txt-random {
    font-size: .8rem;
    margin-top: 10px;
}

#footer .rrss {
    grid-area: rrss;
    align-self: end;
}

#footer .rrss a {
    justify-content: flex-end;
    text-decoration: none;
    color: var(--negro);
}

#footer .rrss {
    justify-content: flex-end;
}



#footer .rrss img {
    object-fit: contain;
    max-width: 2rem;
    max-height: 2rem;
}

#footer .rrss li {
    display: flex;
    align-self: baseline;
}

#footer .rrss li a {
    flex-flow: column-reverse nowrap;
    justify-content: end;
    width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
    transition: max-height .5s ease;
}

#footer .rrss li a:hover {
    width: 100%;
}

#footer .rrss p {
    margin: 1rem 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    white-space: pre;

}


#footer .rrss a:hover,
#footer .rrss a:focus {
    box-shadow: inset 0 0 0 2px var(--negro);
    transform: initial !important;
    filter: none;
    max-height: 15rem;
    transition: max-height .5s ease;
}

#footer .rrss a:active {
    filter: invert(1);
    backdrop-filter: invert(0);
}

/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/
/*//////////////////////*/

#footer .fechas p {
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
}

#footer .fechas p:nth-of-type(1) {
    font-weight: 900;
}









/* PILOTAK*/

.pilota {
    user-select: none;
    pointer-events: none;
    min-width: 70px;
    min-height: 70px;
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    filter: blur(10px);
    mix-blend-mode: color;
    transition: all 3s ease;
}

.agujero .pilota {
    top: 50vh !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.haz .pilota {
    top: 20vh !important;
    left: 50% !important;
    transform-origin: top left;
}

.hyper .pilota {
    mix-blend-mode: difference;
}

.pilota.respira {
    transform: translate(-50%,-50%) !important;

}

