@charset "utf-8";
/* CSS ordenado en orden jerárquico de mayor a menor */
/*--///////////////// SEPARADOR ///////////////////--*/
/*--///////////////// /SEPARADOR ///////////////////--*/



/*--///////////////// FUENTES ///////////////////--
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
--///////////////// /FUENTES ///////////////////--*/

:root {
    font-size: 1.5rem;
    --negro: rgb(17, 17, 17);
    --roto: rgb(194, 194, 194);
    --ruido-blanco: url(../imgs/ruido-blanco-17.gif);
    --ruido-negro: url(../imgs/ruido-negro-7.gif);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

/* *:focus {
    outline: solid 10px #9faeff;
    animation: hue 1s infinite alternate;
    filter: saturate(1);
} */


html,
body {
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

section {
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
}

::selection {
    background-color: #9faeff;
}


button {
    padding: 7px 15px;
    cursor: pointer;
    background: none;
    border: 2px solid var(--negro);
    border-radius: 50em;
    font-size: .8rem;
    font-family: 'Roboto Mono', monospace;
}

button:active{
    background-color:var(--negro);
    color: var(--roto);
}


@keyframes hue {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(-180deg);
    }
}

@keyframes anti-hue {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(180deg);
    }
}

main {
    z-index: 1;
    padding-bottom: 40vh;
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

hr {
    margin: 10vh 0;
    border-color: var(--roto);
    width: 500px;
}


/* -------  RRSS UL  ------- */
ul.rrss {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

ul.rrss li {
    list-style: none;
    transition: all .2s ease;
}

ul.rrss a:hover, ul.rrss a:focus{
    transform: scale(1.3) rotate(-5deg) translateY(-5px);
    filter: brightness(1.3);
    transition: transform .2s;
    filter: invert(1);
}

ul.rrss li a {
    display: block;
    color: var(--negro);
    text-decoration: none;
    font-size: 2rem;
}

ul.rrss li a img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    object-fit: contain;
}

/* -------  /RRSS UL  ------- */



/* ------------------- HEADER  ---------------------- */


#header {
    width: 100%;
    height: 200vh;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
z-index: 1;
}


#header article {
    width: 700px;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: var(--negro);
    display: grid;
    transform: translateY(-50vh);
    grid-template-rows: 6rem 2rem 1rem;
    position: fixed;
    z-index: 1;
}

#header article *:not(small) {
    font-family: "Times New Roman", Times, serif !important;
}

#header h2 {
    font-weight: 400;
    position: relative;
}


#header a {
    cursor: help;
    color: var(--negro);
    text-decoration: none;
    position: relative;
}


#header p {
    transition: all ease 0.3s;
    font-size: 1.8rem;
}

#header p:nth-of-type(2) {
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1rem;
}



/* EL ASTERISCO BONITO */
.asterisco {
    font-weight: 800;
}

/* VICTOR */
#nombre {
    transition: all 0.6s ease;
}

#nombre span {
    letter-spacing: -0.65rem;
}

#nombre span:nth-of-type(2) {
    letter-spacing: 0.2rem;
}




/* EL NOMBRE IMG*/
header img {
    pointer-events: none;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 18rem;
    height: 9rem;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    mix-blend-mode: multiply;
}



/* PILOTAK*/


.agujero .pilota {
    top: 50vh !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    mix-blend-mode: color-burn;
}

header#header.agujero .pilota {
    mix-blend-mode: color;
}

.hyper .pilota {
    mix-blend-mode: difference;
}


#contempla {
    position: absolute;
    left: 6vw;
    top: 90vh;
    z-index: 4;
    transition: .2s;

    perspective: 400px;
}

#contempla.zen {
    opacity: .1;
}

#contempla:hover{
    opacity: 1;
}

.zen {
    opacity: 0;
    transition: .2s ease;
}

#idiomas {
    position: relative;
    position: absolute;
    right: 6vw;
    top: 6vh;
    z-index: 6;
    transition: opacity .2s;
}

#idiomas button {
    border: none;
    text-decoration: underline;
}

#idiomas .current {
    position: absolute;
    width: 30%;
    height: 100%;
    border: 2px solid var(--negro);
    border-radius: 50rem;
    top: 0;
    right: 0;
    transition: .2s;
}

/* //----------------//NAVEGACIÓN//----------------// */
/* EL SOL*/

#nav {
    z-index: 5;
    position: fixed;
    left: 50%;  bottom: -60vh;
    width: 0rem;    height: 0rem;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: var(--ruido-blanco);
    background-size: 170px;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 165px 1fr;
    grid-template-rows: 50vh auto;
    grid-template-areas:
    "contacto . nav"
    "contacto . nav";
    transition: all 0.3s ease;
    opacity: 0.94;
    overflow: hidden;
}

#nav-btn {
    position: fixed;
    left: 50%;
    bottom: -2.4rem;
    transform: translate(-50%, 0);
    z-index: 99;
    background: none;
    border: none;
    transition: 0.2s ease;
}

#nav-btn:focus{
    outline: none;
}

#solete {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    transition: 0.2s ease;
}

#nav-btn.activo {
    transform: translate(-50%, -4rem);
}

/* PARA CUANDO LLEGA AL FOOTER */
#nav-btn.escondido {
    transform: translate(-50%, 4rem);
}


#nav.on {
    height: 80vw;
    width: 80vw;
    padding: 5rem 0;
    padding-bottom: 33%;
}

#nav>ul {
    visibility: hidden;
    transition: all .2s ease, visibility .1s;
    transition-delay: all 0, visibility .2s;
    position: relative;
}

#nav.on>ul {
    visibility: visible;
    transition: all .2s ease, visibility .1s;
    transition-delay: all 0, visibility .2s;
}

#nav ul li {
    list-style: none;
    height: 2.7rem;
}

#nav a {
    text-decoration: none;
    color: var(--negro);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: letter-spacing .2s, transform .2s;
}

#nav a:focus, #nav a:hover {
    letter-spacing: 2px;
    text-decoration: underline;
    transition: letter-spacing .2s, transform .2s;
}

#nav ul.anchor {
    grid-area: nav;
    justify-self: stretch;
    align-self: end;
}

#nav ul.contacto {
    grid-area: contacto;
    justify-self: stretch;
    align-self: end;
    text-align: right;
}

#nav ul.rrss {
    justify-content: flex-end;
}

#nav ul.rrss li {
    margin: 0 10px;
}

#nav .tlf{
    transform: translate(-60px, -72px) rotate(12deg) scale(1.3);
}

#nav li.tlf span{
    margin: 0 10px;
}

#nav .mail{
    transform: translate(0px, -25px) rotate(6deg);
}

#nav::after {
    pointer-events: none;
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../imgs/reticulaxmin.svg), rgb(225, 174, 65);
    background-size: 100px, cover;
    background-repeat: repeat, no-repeat;
    color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: color-burn;
    animation: hue 15s infinite alternate;
}



/* -------------------  DEFINICIÓN  ---------------------- */

section#definicion {

    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




section#definicion p:nth-last-of-type(1) {
    margin: 0 30vw;
}

section#definicion .definicion {
    height: 0vh;
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: height 1s;
    transition-delay: 0.4s;
    position: relative;
    z-index: 3;
}

.definicion ol {
    padding-left: 50px;
}

/* NECESARIO POR EL FLEX */
.definicion dfn {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

.definicion strong {
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
}



#definicion .jarra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pilota {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    min-width: 70px;
    min-height: 70px;
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    filter: blur(60px);
    mix-blend-mode: color;
    transition: all 3s ease;
}


/* -------------------  /DEFINICIÓN  ---------------------- */

/*--///////////////// HAGO COSAS ///////////////////--*/


section.hago {
    align-items: unset;
    padding: 60px;
}

section.hago h2,
section.hago a {
    width: auto;
    text-decoration: none;
    color: var(--negro);
    text-align: left;
    font-size: 4rem;
    font-family: 'Roboto slab', serif;
}

section.hago a {
    position: relative;
}

section.hago a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 4rem;
    bottom: .2rem;
    left: -1rem;
    /* box-shadow: 0px 0px 0px 5px var(--negro); */
    background-color: rgb(225, 174, 65);
    mix-blend-mode: overlay;
    animation: hue 30s infinite alternate;
    opacity: 0;
    transition: width 1s ease, opacity 0.2s;
}

section.hago a:hover::before {
    width: calc(100% + 2rem);
    opacity: 1;
    transition: width 0.5s ease, opacity 0.2s;
}

/*--///////////////// /HAGO COSAS ///////////////////--*/

/*--///////////////// HAGO FOTOS ///////////////////--*/





/*--///////////////// /HAGO FOTOS ///////////////////--*/



/*--///////////////// FOOTER ///////////////////--*/

footer {
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}


footer img.gif {
    height: 5vw;
    margin-bottom: 40px;
}

