#header {
    height: 150vh;
    scrollbar-width: none;
    justify-content: initial;
}

#header .wrap {
    height: 105vh;
    display: flex;
}

#header img {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13vw;
    height: 80vh;
    min-width: 13vw;
    min-height: 80vh;
    border-radius: 50rem;
    max-width: calc(100% - 6vw);
    object-fit: cover;
    z-index: -1;
    transition: all 1s ease;
}

#header img.unfold {
    width: calc(100% - 6vw);
    max-height: 200vh;
    height: 200vh;
    transition: all 1s ease;
}

#header::-webkit-scrollbar {
    display: none;
}

#header h1 {
    align-self: center;
    font-family: auto;
    font-size: 11vw;
    font-weight: 400;
    line-height: 5rem;
    position: relative;
    color: var(--negro);
}



#cositas {
    padding: 3vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: min-content;
    column-gap: 3vw;
    grid-template-areas: 
    "hola info1"
    "btn btn"
    "tarjetas info2";
}

#cositas .hola{
    padding-top: 20vh;
    grid-area: hola;
    text-align: center;
    font-size: 15vw;
}

#cositas .hola p:nth-of-type(1){
    font-size: 15vw;
    margin-bottom: 5rem;
}

#cositas .texto{
    grid-area: info1;
}

#cositas .texto em {
    font-weight: 900;
    cursor: help;
}

#cositas .cv-btn {
    grid-area: btn;
    margin: 10vh auto; 
}


#cositas>div {
    grid-area: tarjetas;
    overflow: hidden;
}

#cositas .redes ul {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        "spotify ."
        "instagram twitch"
        ". linkedin";

}

#cositas .redes a:hover,
#cositas .redes a:focus {
    backdrop-filter: invert(0);
    filter: invert(1);
    border-color: white;
}

#cositas .redes a:hover svg,
#cositas .redes a:focus svg {
    animation: derecha 3s infinite ease reverse;
}

#cositas .redes a {
    padding: 1rem;
    border: 2px solid var(--negro);
    display: block !important;
    color: var(--negro);

    text-decoration: none;
}

#cositas .redes div {


    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    align-items: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#cositas .redes p {
    font-size: 1rem;
    line-height: 1.3rem;
}

#cositas .redes div img {
    height: 2rem;
    margin-right: 1rem;
}

#cositas .redes div svg {
    height: 1rem;
    margin-left: 1rem;
    transform: rotate(45deg);
}

#cositas .redes .spotify {
    grid-area: spotify;
    margin-bottom: -2px;
}

#cositas .redes .instagram {
    grid-area: instagram;
}

#cositas .redes .twitch {
    grid-area: twitch;
    margin: 0 0 -2px -2px;
}

#cositas .redes .linkedin {
    grid-area: linkedin;
}

/* #cositas .spotify  a:hover,
#cositas .spotify a:focus {
    backdrop-filter: invert(0) brightness(0.7) sepia(.6) hue-rotate(20deg);
} 
*/








#cositas .fotos {
    display: flex;
    justify-content: center;
    height: 27vh;
    margin-right: 2rem;
    position: relative;
}

#cositas .info {
    grid-area: info2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

#cositas .info img {
    image-rendering: -webkit-optimize-contrast;
}

#cositas .info .hiru {
    position: absolute;
    height: 33%;
    bottom: 0;
    right: -.5rem;
}





#bolas {
    padding: 5vw;
    overflow: hidden;
}